<!DOCTYPE html>
<html>
    <head>
        <title>Repl World</title>
    </head>
    <body>
        <div id="main">
            if (!user)
                <p>Please log in!</p>
                <script src="https://auth.turbio.repl.co/script.js" authed='location.reload()'></script>
            else 
                <p> Welcome, #{user.name}! </p>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    
    <canvas id="canvas"></canvas>

    script.
        let CVS = document.getElementById("canvas");
        let CTX = CVS.getContext("2d");
        let socket = io();
        let players = {};
        let ID = Math.round(Math.random() * 1000);
        let position = [0, 0];

        function set(dict, key, value) {
            dict[key] = value;
        }

        let data = [ID, position];
        socket.emit("join", (data));
        socket.on("joined", (dta) => {
            let id = dta[0];
            let p = dta[1];

            set(players, id, {"position": p});
            console.log("Initialized player! Data: " + id + ", " + p);
        });

        socket.on("move", (id, op, np) => {
            if (players[id] != null) {
                players[id]["position"] = np;
                console.log(`Player ${id} moved from ${op} to ${np}.`);
            } else if (players[id] == null) {
                players[id] = {"position": np};
                console.log(`Player ${id} moved to ${np}.`);
            }

            CVS.clearRect(0, 0, CVS.width, CVS.height);
            
            CVS.fillRect(position[0], position[1], 4, 4);
            for(let i = 0; i < players.length; i++) {
                CVS.fillRect(players[players.keys[i]][0], players[players.keys[i]][1], 4, 4);
            }
        });

        document.addEventListener("keydown", (e) => {
            socket.emit("move", (ID, position, [position[0], position[1] + 1]));
        });
</html>